remote_theme: "mmistakes/minimal-mistakes@4.12.2"

repository: e2nIEE/pandaict
title: "pandaict"
include:
  - _pages

defaults:
  - scope:
      path: "_pages"
    values:
      layout: single
      author_profile: false
     
author:
  name    : "pandaict"
  bio      : ""
  location : Kassel, Germany
  email    : info@pandaict.org
  github   : e2nIEE/pandaict
  
# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji

theme: jekyll-theme-slate